name: Build image

on: 
  push:
    branches:
      - master

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Buildah Build
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: jjw-needs
          tags: latest
          containerfiles: ./Dockerfile
          build-args: |
            NOTIFY_URL=${{ secrets.NOTIFY_URL }}
          
      - name: Push to ghcr.io
        id: push-image
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: ghcr.io/${{ github.repository_owner }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Print image url
        run: echo "Image pushed to ${{ steps.push-image.outputs.registry-paths }}"
